PORT=4000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=test
DB_NAME=six-cities

SALT=10

JWT_SECRET=super-secret-jwt-key-for-six-cities-change-me-in-production

UPLOAD_PATH=./upload